{
	auto_https off
}


:80 {
  encode gzip

  log errorlog {
    output stderr
  }

  handle /api* {
    reverse_proxy backend:8000
  }
 
  handle {
    root * /var/www/html
    try_files {path} /index.html
    file_server
  }

}